<a href="https://colab.research.google.com/github/akbarriki/scraping_tiketcom/blob/main/Scraping_Tiketcom_BestPrice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Scraping Best Price for Flights from Jakarta to Selected Airports in Indonesia**

##This dataset is collected from [Tiket.com](https://tiket.com), one of Online Travel Agent Platform in Indonesia

Author: [Riki Akbar](https://akbarriki.github.io)
<br />Last update: 2 January 2023<br />Dataset is now available [here](https://www.kaggle.com/datasets/datasciencerikiakbar/tiketcom-best-price-for-flights-from-jakarta)

Feel free to make any code adjustment but **please keep the attribution remains**

###Imports and Mounting Drive

In [1]:
import pandas as pd
import requests, json, time, math, os
from tqdm import tqdm
from datetime import datetime as dt
from datetime import date
from calendar import monthrange
from dateutil.relativedelta import relativedelta
from google.colab import drive

#mounting google drive
drive.mount('/content/gdrive', force_remount=True)
project_folder = 'gdrive/MyDrive/scraping_projects/tiketcom'
output_file = 'tiketcom_bestprice.csv'
os.chdir(project_folder)
os.getcwd()

Mounted at /content/gdrive

'/content/gdrive/MyDrive/scraping_projects/tiketcom'

### Scraping

In [3]:
# define execution timestamp
exec_timestamp = dt.now()

# define all required variables
base_url = 'https://www.tiket.com/'

# target list
_data_ = []

num_adult, num_child, num_infant = 1, 0, 0
_ORIGIN_, _ORIGINTYPE_ = 'JKTC', 'CITY'
# _DESTINATION_, _DESTINATIONTYPE_ = 'BTJ', 'AIRPORT'
_CABINCLASS_ = 'ECONOMY'

target_year = date.today().year + 1

selecteddate = '2023-04-19'
startdate = '2023-04-01'
enddate = '2023-04-30'

_DESTINATIONLIST_ = ['BTJ','BDO','MLG','SRG','SUB','JOG','YIA','SOC','TKG','BTH',
                     'BKS','DJB','KNO','PDG','PLM','PGK','PKU','TNJ','BPN','BDJ',
                     'PNK','SRI','TRK','UPG','MDC','DPS','LOP','BIK','DJJ','MKQ']

for i, _DESTINATION_ in enumerate(_DESTINATIONLIST_):
  print(_DESTINATION_)
  for m in tqdm(range(6)):
        
    # define current month, number of days in current month, and default selected date (default selected date for april 2023 is 19)
    cdate = (dt.today() + relativedelta(months=m))
    cyear, cmonth = cdate.year, cdate.month
    startdate = dt.strftime(date(cyear, cmonth, 1), "%Y-%m-%d")
    enddate = dt.strftime(date(cyear, cmonth, monthrange(cyear, cmonth)[-1]), "%Y-%m-%d")
    selecteddate = dt.strftime(date(cyear, cmonth, 15), "%Y-%m-%d") if cmonth != 4 else dt.strftime(date(cyear, cmonth, 19), "%Y-%m-%d")
    
    # define the type of destination (i.e., CITY or AIRPORT)
    _DESTINATIONTYPE_ = 'AIRPORT'

    # target url
    url = f'{base_url}ms-gateway/tix-price-summary/priceSummary/priceSummary?adult={num_adult}&child={num_child}&infant={num_infant}&origin={_ORIGIN_}&destination={_DESTINATION_}&startDate={startdate}&endDate={enddate}&currency=IDR&originType={_ORIGINTYPE_}&destinationType={_DESTINATIONTYPE_}&cabinClass={_CABINCLASS_}&flightAggregateType=OW'

    # referer url for headers setup
    referer = f'{base_url}pesawat/search?d={_ORIGIN_}&a={_DESTINATION_}&dType={_ORIGINTYPE_}&aType={_DESTINATIONTYPE_}&date={selecteddate}&adult={num_adult}&child={num_child}&infant={num_infant}&class={_CABINCLASS_.lower()}&flexiFare=false'

    # header config
    header = {
        'Content-Type': 'application/json',
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36',
        'Referer': referer,
        'X-Country-Code': 'IDN',
        'X-Request-id': '064f288d-65a8-4afb-87a0-a5a0647be197',
        'X-Store-Id': 'TIKETCOM'
    }

    # scraping process
    
    try:
      page = requests.get(url, headers=header)
      response = json.loads(page.text)
      _data_ += [{'extract_timestamp':exec_timestamp,
                  'origin': _ORIGIN_,
                  'destination': _DESTINATION_,
                  'depart_date':r['date'], 
                  'best_price':r['price']} for r in response['data']]
    except:
      print(f'Fail to extract data (destination: {_DESTINATION_}, {target_year}-{cmonth})!')
      print(f'error: {page}')

  # delay execution to avoid response 429 (too many requests)
  if i>0 and i % 9 == 0:  
    print()
    print('--Delay execution for 5 mins--')
    time.sleep(300)
    print()

BTJ

100%|██████████| 6/6 [00:01<00:00,  3.45it/s]

BDO

100%|██████████| 6/6 [00:01<00:00,  3.59it/s]

MLG

100%|██████████| 6/6 [00:01<00:00,  3.67it/s]

SRG

100%|██████████| 6/6 [00:01<00:00,  3.49it/s]

SUB

100%|██████████| 6/6 [00:01<00:00,  3.61it/s]

JOG

100%|██████████| 6/6 [00:01<00:00,  3.59it/s]

YIA

100%|██████████| 6/6 [00:01<00:00,  3.40it/s]

SOC

100%|██████████| 6/6 [00:01<00:00,  3.47it/s]

TKG

100%|██████████| 6/6 [00:02<00:00,  2.44it/s]

BTH

100%|██████████| 6/6 [00:01<00:00,  3.65it/s]

--Delay execution for 5 mins--

BKS

100%|██████████| 6/6 [00:01<00:00,  3.49it/s]

DJB

100%|██████████| 6/6 [00:01<00:00,  3.54it/s]

KNO

100%|██████████| 6/6 [00:01<00:00,  3.55it/s]

PDG

100%|██████████| 6/6 [00:01<00:00,  3.54it/s]

PLM

100%|██████████| 6/6 [00:01<00:00,  3.51it/s]

PGK

100%|██████████| 6/6 [00:01<00:00,  3.37it/s]

PKU

100%|██████████| 6/6 [00:01<00:00,  3.44it/s]

TNJ

100%|██████████| 6/6 [00:01<00:00,  3.61it/s]

BPN

100%|██████████| 6/6 [00:01<00:00,  3.53it/s]

--Delay execution for 5 mins--

BDJ

100%|██████████| 6/6 [00:01<00:00,  3.51it/s]

PNK

100%|██████████| 6/6 [00:01<00:00,  3.58it/s]

SRI

100%|██████████| 6/6 [00:01<00:00,  3.70it/s]

TRK

100%|██████████| 6/6 [00:01<00:00,  3.60it/s]

UPG

100%|██████████| 6/6 [00:01<00:00,  3.54it/s]

MDC

100%|██████████| 6/6 [00:01<00:00,  3.52it/s]

DPS

100%|██████████| 6/6 [00:01<00:00,  3.47it/s]

LOP

100%|██████████| 6/6 [00:01<00:00,  3.52it/s]

BIK

100%|██████████| 6/6 [00:01<00:00,  3.53it/s]

--Delay execution for 5 mins--

DJJ

100%|██████████| 6/6 [00:01<00:00,  3.68it/s]

MKQ

100%|██████████| 6/6 [00:01<00:00,  3.60it/s]

### Export the Result

In [4]:
# write/append data to the target csv file
if _data_:
  df = pd.DataFrame(_data_)
  if not os.path.isfile(output_file):
    df.to_csv(output_file, index=False, sep='|')
    print(f'data has been exported to {output_file}')
  else:
    df.to_csv(output_file, index=False, sep='|', mode='a', header=False)
    print(f'file {output_file} has been appended with new data')
else:
  print('No data found')

file tiketcom_bestprice.csv has been appended with new data

###Sanity Checks

#####check the total number of records

In [5]:
df_new = pd.read_csv(output_file, sep='|')
print(f'number of records: {len(df_new)}')

number of records: 19953

#####check the top 5 rows

In [6]:
df_new.head()

            extract_timestamp origin destination depart_date  best_price
0  2022-12-24 11:25:37.656571   JKTC         BTJ  2023-04-25   2310582.0
1  2022-12-24 11:25:37.656571   JKTC         BTJ  2023-04-04   2310582.0
2  2022-12-24 11:25:37.656571   JKTC         BTJ  2023-04-27   2310582.0
3  2022-12-24 11:25:37.656571   JKTC         BTJ  2023-04-29   2310582.0
4  2022-12-24 11:25:37.656571   JKTC         BTJ  2023-04-01   2316313.0

#####observe the best price data for flights from Jakarta to KNO

In [7]:
df_new[df_new['destination'] == 'KNO'].sort_values('depart_date', ascending=True).head()

                extract_timestamp origin destination depart_date  best_price
11729  2022-12-31 01:49:22.466131   JKTC         KNO  2023-01-01   1021490.0
6520   2022-12-29 03:13:11.798742   JKTC         KNO  2023-01-01    936450.0
16938  2023-01-02 00:37:44.519977   JKTC         KNO  2023-01-02    953450.0
6501   2022-12-29 03:13:11.798742   JKTC         KNO  2023-01-02    936450.0
11704  2022-12-31 01:49:22.466131   JKTC         KNO  2023-01-02    936450.0

##### Make sure no alphanumeric entries in the `best_price` column

In [8]:
df_new.best_price.apply(lambda x: float(x))

0        2310582.0
1        2310582.0
2        2310582.0
3        2310582.0
4        2316313.0
           ...
19948    4786080.0
19949    4786080.0
19950    4786080.0
19951    4786080.0
19952    4786080.0
Name: best_price, Length: 19953, dtype: float64

##### Check the maximum departure date

In [10]:
df_new.depart_date.max()

'2024-06-26'